.part09{
    height: 50vh;   
    background-image: url(../Image/RandyMega/14.jpg); 
    background-size: cover;
    background-position:center 45%;
    color: white;
}
.part09_1{
    padding-top: 150px;
}