@import url('https://fonts.googleapis.com/css2?family=Buda&family=Cormorant+Unicase:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
/* font-family: 'Buda', cursive;
font-family: 'Cormorant Unicase', serif;
font-family: 'Open Sans', sans-serif; */

@font-face {
    font-family: "buda" ;
    src: url(../Font/Buda/Buda-Light.ttf) format('truetype');
}
@font-face {
    font-family: "A1";
    src: url(../Font/amostely_signature/AmostelySignature.ttf) format('truetype');
}


html{
    scroll-behavior: smooth;
}
.nama_pengantin_text{ 
    font-family: "A1";
    font-size: 100px;
}
.popup_nama_pengantin_text{
    font-family: "A1";
    font-size: 50px;
}
.nama_pengantin_text_info{
    font-family: "A1";
    font-size: 60px;
}



.judulText{
    font-family: 'Cormorant Unicase', serif;
}
.subJudulText{
    font-family: 'Cormorant Unicase', serif;

}
.subJudul{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.popup_subJudul{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.invitation_text_hallo{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.invitation_text{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.textKeterangan{
    font-family: "buda";
}

.musicPlayer{
    display: flex;
    float: right;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
#music_icon{
    width: 40px !important;
    
}

body{
    background-color:rgb(250, 250, 250);
    margin: 0 !important;
    padding: 0 !important;
}

.popup_screen{
    z-index: 999999;
    position: fixed;
    background: rgba(33, 33, 33, 0.798);
    backdrop-filter: blur(10px);
    width: 100% ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 0.5s ease;
}
.popup_screen.active{
    visibility: visible;
}

.popup_box{
    position: relative;
    background-color: rgba(255, 255, 255, 0.805);
    backdrop-filter: blur(10px);
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 0  40px 50px ;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0 0 0 / 20%);

}

.background_popup{
    background-image: url(../Image/RandyMega/1.jpg); 
    background-size: cover;
    background-position: center;
    width: 350px !important;
    height: 200px;
    border-radius: 20px 20px 0 0;
}
.btn_open{
    color: #fff;
    background: #3d332c;
    text-decoration: none;
    padding: 7px 27px;
    border-radius: 5px;
    border:none;
}

.icon_name{
    max-width: 200px;
    padding-top: 175px;
}

.foto a{
    text-decoration: none !important;
    text-decoration-color:white ;
}
.part01{
    height: 100%;   
    background-image: url(../Image/RandyMega/5.jpg); 
    background-size: cover;
    background-position: center;
    color: white;    
}
.mask-custom {
    background: radial-gradient(47.67% 64.58% at 49.97% 46.46%, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0.58) 0.01%, rgba(0, 0, 0, 0) 100%);
    height: 100%;
}

.navbar-custom {
    background-color: rgba(0, 0, 0, 0.391);
    height: 50px;
    transition: transform 0.2s !important;
}
.nav--hidden {
    transform: translateY(-50) !important;
    box-shadow: none;
}

.timerDemo > .countDay, .timerDemo > .countHr, .timerDemo > .countMin, .timerDemo > .countSec {
    font-size: 37px;
    font-weight: 600;
    color: #3d332c;
}
.timerDemo div {
    margin: 15px 15px !important;
    padding: 30px;
    background: #eed2a2;
    width: 145px;
    height: 145px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px -2px #0000009b;
}
.text_ket_time{
    font-size: 24px;
}


.part02 {
    height: 100%;   
    background: url(../Image/Deko/dk1-1.png), url(../Image/Deko/dk1-4.png), url(../Background-Wallpaper/Background-Website/Background1.png);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: top left, bottom right, center;
    color: #3d332c;
}



.part03{
    height: 100%;   
    background-image: url(../Image/RandyMega/19.jpg);
    background-size: cover;
    background-position: center;
    color: #f0e4d9;

}
.line_separator{
    color: aliceblue !important;
    max-width: 300px;
    width: 50%;
}
.sec_rsvp_image{
    height: 100vh;   
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;

}
.wedding_rsvp{
    background-color: #eed2a2;
    color: #3d332c;
}
.rsvp_card{
    color: #fff;
    background: #aa7343;
    border-radius: 20px;
    padding: 20px 30px 20px 30px !important;
    min-height: 203px !important;
}
.font-weight-bold{
    font-weight: 700 !important;
}
.part05{
    height: 100%;
}
/* Gallery */
.gallery{
    height: 100%;
}

.gallery img {
    transition: 1s;
    /* height: 150px;
    padding: 5px; */
    
}

.foto-grid{
    
    --gap:10px;
    --num-cols:12;
    --row-height:150px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), minmax(auto,auto));
    grid-auto-rows: var(--row-height);
    grid-auto-flow: dense;
    grid-gap: var(--gap);
    justify-content: center;

}
.foto-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.foto-grid .wide{
    grid-column: span 2;
}

.foto-grid a{
    text-decoration: none !important;
    text-decoration-color:white ;
}
.gallery img:hover{
    filter: brightness(40%);
}

.carousel-item{
    width: 100%;
    min-height: 550px;
    max-height: 700px;
    background-position: center;
    background-size: cover;
}

.part06{
    background-color: #dfb288;
    color: #745e59;
}

hr.rounded {
    border-top: 8px solid #745e59;
    border-radius: 5px;
}

.wedding_gift{
    background-image:url(../Background-Wallpaper/Website_wallpaper/5.png);
    background-position: center;
    background-size: cover;
    color: #54433f;
}
.bank_image{
    min-width: 100px;
}
.bank_information{
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    max-width: 250px;
}

.transfer_guide{
    font-size: 12px;
}
.part08{
    height: 100%;   
    background-image: url(../Image/RandyMega/18.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}
.part08 a {
    text-decoration: none;
    color: white;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #7f7557;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(127, 117, 87, 0.85), rgba(188, 153, 92, 0.85));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(127, 117, 87, 0.85), rgba(188, 153, 92, 0.85));
    height: 100%;
}

.logo_inviter{
    max-width: 150px;
}


@media (max-width: 1358px) {
    
    .foto-grid {
        --gap: 10px;
        --num-cols:10 ;
        --row-height: 150px;
    }
}

@media (max-width: 990px){
    .link_youtube iframe{
        max-height: 350px !important;
    }
    .foto-grid{
        --gap:10px;
        --num-cols:8;
        --row-height:150px;
    }
}


@media (max-width: 800px){
    .nama_pengantin_text{
        font-family: "A1";
        font-size: 55px;
    }
    .part02 {
    background:  url(../Image/Deko/dk1-1.png), url(../Image/Deko/dk1-4.png), url(../Background-Wallpaper/Background-Website/Background1.png);
    background-size: 900px, 900px, cover;
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: top left, bottom right, center;
    }
    .foto-grid{
        --gap:10px;
        --num-cols:6;
        --row-height:150px;
    }
}
@media (max-width: 740px){
    .foto-grid{
        --gap:10px;
        --num-cols:5;
        --row-height:150px;
    }
}


@media (max-width: 550px) {
    .link_youtube iframe {
        max-height: 250px !important;
    }

    .timerDemo>.countDay,
    .timerDemo>.countHr,
    .timerDemo>.countMin,
    .timerDemo>.countSec {
        font-size: 20px;

    }

    .timerDemo div {
        margin: 10px 10px !important;
        padding: 15px 15px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
    }

    .text_ket_time {
        font-size: 14px;
    }
    .foto-grid{
        --gap:10px;
        --num-cols:4;
        --row-height:150px;
    }
}
@media (max-width: 432px){
    
    .timerDemo > .countDay, .timerDemo > .countHr, .timerDemo > .countMin, .timerDemo > .countSec {
        font-size: 18px;
        
    }
    .timerDemo div {
        margin: 8px 8px !important;
        padding: 15px 15px;
        width: 65px;
        height: 65px;
        border-radius: 8px;
    }
    .text_ket_time{
        font-size: 10px;
    }
    .foto-grid{
        --gap:10px;
        --num-cols:4;
        --row-height:120px;
    }
}

@media (max-width: 400px){
    .foto-grid{
        --gap:10px;
        --num-cols:3;
        --row-height:120px;
    }
}